In [71]:
import pandas as pd
import numpy as np
import statsmodels as ols
import warnings
warnings.filterwarnings('ignore')

In [5]:
# DMG CSV files
dmg1 = pd.read_csv('datasets/esea_master_dmg_demos.part1.csv')
dmg2 = pd.read_csv('datasets/esea_master_dmg_demos.part2.csv')

Weapons:
- Only care about the type, not the specific weapon itself (disregard wp, only keep wp_type)

Drop all IDs, and team names

In [36]:
cleaned_dmg1 = dmg1[['file', 'seconds', 'att_side', 'hp_dmg', 'arm_dmg', 'wp_type']]
cleaned_dmg2 = dmg2[['file', 'seconds', 'att_side', 'hp_dmg', 'arm_dmg', 'wp_type']]

In [37]:
combined_cleaned_dmg = pd.concat([cleaned_dmg1, cleaned_dmg2], axis = 0)
combined_cleaned_dmg = combined_cleaned_dmg.iloc[1:]
combined_cleaned_dmg.head() # switch att_side to is_ct column

,file,seconds,att_side,hp_dmg,arm_dmg,wp_type
1,esea_match_13770997.dem,124.3761,CounterTerrorist,18,9,Pistol
2,esea_match_13770997.dem,125.0495,CounterTerrorist,100,0,Pistol
3,esea_match_13770997.dem,125.1121,Terrorist,12,7,Pistol
4,esea_match_13770997.dem,125.4410,CounterTerrorist,15,7,Pistol
5,esea_match_13770997.dem,126.0674,Terrorist,94,0,Pistol

In [50]:
kills1 = pd.read_csv('datasets/esea_master_kills_demos.part1.csv')

In [65]:
kills2 = pd.read_csv('datasets/esea_master_kills_demos.part2.csv')

In [72]:
kills1_cleaned = kills1[['file', 'seconds', 'att_side', 'ct_alive', 't_alive', 'is_bomb_planted']]
kills1_cleaned['is_ct'] = kills1_cleaned['att_side'].apply(lambda x: 1 if x == 'CounterTerrorist' else 0)
kills1_cleaned['is_bomb_planted'] = kills1_cleaned['is_bomb_planted'].apply(lambda x: 1 if x == True else 0)
kills1_cleaned = kills1_cleaned.drop(columns = ['att_side'])
# is_ct = that person killed an enemy player

In [73]:
kills2_cleaned = kills2[['file', 'seconds', 'att_side', 'ct_alive', 't_alive', 'is_bomb_planted']]
kills2_cleaned['is_ct'] = kills2_cleaned['att_side'].apply(lambda x: 1 if x == 'CounterTerrorist' else 0)
kills2_cleaned['is_bomb_planted'] = kills2_cleaned['is_bomb_planted'].apply(lambda x: 1 if x == True else 0)
kills2_cleaned = kills2_cleaned.drop(columns = ['att_side'])

In [75]:
kills_cleaned = pd.concat([kills1_cleaned, kills2_cleaned], axis = 0)
kills_cleaned.head()

,file,seconds,ct_alive,t_alive,is_bomb_planted,is_ct
0,esea_match_13770997.dem,30.74165,5,4,0,1
1,esea_match_13770997.dem,31.93185,4,4,0,0
2,esea_match_13770997.dem,34.28094,3,4,0,0
3,esea_match_13770997.dem,38.93212,3,3,0,1
4,esea_match_13770997.dem,40.76441,2,3,0,0

In [78]:
round_view1 = pd.read_csv('datasets/esea_meta_demos.part1.csv')

In [80]:
round_view2 = pd.read_csv('datasets/esea_meta_demos.part2.csv')

In [86]:
rounds_view1_cleaned = round_view1[['file', 'map', 'winner_side', 'round_type', 'ct_eq_val', 't_eq_val']]

In [87]:
rounds_view2_cleaned = round_view2[['file', 'map', 'winner_side', 'round_type', 'ct_eq_val', 't_eq_val']]

In [88]:
rounds_view_cleaned = pd.concat([rounds_view1_cleaned, rounds_view2_cleaned], axis = 0)
rounds_view_cleaned

,file,map,winner_side,round_type,ct_eq_val,t_eq_val
0,esea_match_13770997.dem,de_overpass,Terrorist,PISTOL_ROUND,4300,4250
1,esea_match_13770997.dem,de_overpass,Terrorist,ECO,6300,19400
2,esea_match_13770997.dem,de_overpass,Terrorist,SEMI_ECO,7650,19250
3,esea_match_13770997.dem,de_overpass,Terrorist,NORMAL,24900,23400
4,esea_match_13770997.dem,de_overpass,CounterTerrorist,ECO,5400,20550
...,...,...,...,...,...,...
161705,esea_match_13829173.dem,de_mirage,Terrorist,ECO,4500,21950
161706,esea_match_13829173.dem,de_mirage,Terrorist,NORMAL,16400,26100
161707,esea_match_13829173.dem,de_mirage,Terrorist,FORCE_BUY,15100,26000
161708,esea_match_13829173.dem,de_mirage,Terrorist,NORMAL,17550,25500
161709,esea_match_13829173.dem,de_mirage,Terrorist,NORMAL,21150,26550